<div class="d-flex flex-column justify-content-center">
  <div class="container border border-secondary rounded p-0 my-4">
    <div id="header" class="p-2">
      <span>PDF converter</span>
      <span *ngIf="signalRS.connected" class="connection-status-on float-right">Connected</span>
      <span *ngIf="!signalRS.connected" class="connection-status-off float-right">Disconnected</span>
    </div>

    <div class="container p-0 my-4 px-3">
      <div class="rounded" id="big-button" (click)="file.click()">
        Select PDF files
      </div>

      <form [formGroup]="form">
        <input type="file" accept="application/pdf" formControlName="files" multiple hidden (change)="onSelect($event)" #file>
        <!--<button (click)="file.click()">Select pdf files</button>-->
        <ng-container #container></ng-container>
        <span [matTooltip]="!signalRS.connected ? 'You must connect to the server' : 'Send PDF files'" matTooltipPosition="left"><button id="send-button" mat-flat-button (click)="onSubmit()" *ngIf="FilesContainer.length > 0" [disabled]="parsing || !signalRS.connected" >Send</button></span>
        <span matTooltip="Clear file queue" matTooltipPosition="right" class="float-right"><button id="clear-button" mat-flat-button (click)="onClear()" *ngIf="FilesContainer.length > 0 && !parsing" >Clear</button></span>
        <span matTooltip="Clear file queue" matTooltipPosition="right" class="float-right"><button id="clear-button" mat-flat-button (click)="onStop()" *ngIf="FilesContainer.length > 0 && parsing" >Cancel</button></span>
        <span></span>
      </form>
    </div>
  </div>
</div>
