.container {
  max-width: 50vw;
}

#header {
  background-color: #0a53be;
  color: #f5f5f5;
}

#big-button {
  background-color: #0b5ed7;
  color: #f5f5f5;
  font-size: 1em;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}

#big-button:hover {
  background-color: #2c6cd4;
}

.mat-flat-button#send-button {
  background-color: #0b5ed7;
}

.mat-flat-button#clear-button {
  background-color: #d74c0b;
}

.connection-status-on {
  color: #12ff00;
  font-size: 0.8em;
}

.connection-status-off {
  color: #ff0000;
  font-size: 0.8em;
}
