<div class="container border border-secondary rounded my-1 py-2">
  <div class="row">
    <div class="col-10 text-wrap text-break">
      <div class="my-2">
        <mat-progress-bar [mode]="fileData.parsingStarted && fileData.url === null ? 'query' : 'determinate'" [value]="fileData.progress$ | async"></mat-progress-bar>
      </div>

      <img src="assets/icons/pdf_icon.png" alt="pdf_icon">
      <span id="fileName">{{fileData.fileName}}</span>

    </div>
    <div class="col-2 px-0" style="text-align: center">
      <mat-icon class="close-button float-right" (click)="onClose.emit()">cancel</mat-icon>
      <div class="d-flex justify-content-center align-items-center" style="height: 100%">
        <a [href]="fileData.url" target="_blank" *ngIf="fileData.url !== null && fileData.parsed">Converted file</a>
        <span id="converting-msg" *ngIf="fileData.parsingStarted && !fileData.parsed">Converting ...</span>
      </div>
    </div>
  </div>

</div>
